body {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

@-o-viewport {
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1;
  width: extend-to-zoom;
}

@viewport {
  zoom: 1;
  width: extend-to-zoom;
}
::-moz-selection {
  background: #d31d35;
}
::-webkit-selection {
  background: #d31d35;
}
::selection {
  background: #d31d35;
}
